header {
  text-align: center;
  /* color: white; */
}

body {
  background-color: lavender;
  /* background-image: url("images/Pokeball-Best-Wallpaper.jpg");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0%; */
}

.card-title {
  color: black !important; 
}

.box {
  text-transform: capitalize;
}

span, li {
  text-transform: capitalize;
}

li:last-child {
  text-transform: initial;
}

#fire, footer {
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3,0px -10px 20px #F90,
  0px -20px 40px #C33;
  font-size: 30px;
  text-align: center;
}